__pycache__/AI.cpython-310.pyc
__pycache__/board.cpython-310.pyc
__pycache__/constants.cpython-310.pyc
__pycache__/game.cpython-310.pyc
__pycache__/globalfunctions.cpython-310.pyc
__pycache__/human.cpython-310.pyc
__pycache__/player.cpython-310.pyc
__pycache__/stack.cpython-310.pyc
__pycache__/game.cpython-310.pyc
